
<div class="field pt-3">
  <div class="ui input" [ngClass]="{ 'error': showErrors() }">
    <input
      class=""
      [formControl]="control"
      [type]="inputType"
      [placeholder]="label"
    />
  </div>
  <ng-container *ngIf="showErrors()">
    <div class="ui left pointing red basic label" *ngIf="control.errors?.['required']">
      Value is required.
    </div>
    <div class="ui left pointing red basic label" *ngIf="control.errors?.['minlength']">
      Value you entered is
      {{ control.errors?.['minlength']?.actualLength }}
      characters long, but it must be at least
      {{ control.errors?.['minlength']?.requiredLength }}
      characters
    </div>
    <div class="ui left pointing red basic label" *ngIf="control.errors?.['maxlength']">
      Value you entered is
      {{ control.errors?.['maxlength'].actualLength }}
      characters long, but it cannot be longer than
      {{ control.errors?.['maxlength'].requiredLength }}
      characters
    </div>
    <div class="ui left pointing red basic label" *ngIf="control.errors?.['pattern']">
      Invalid format.
    </div>

    <div class="ui left pointing red basic label" *ngIf="control.errors?.['nonUniqueUsername']">
      Username must be unique.
    </div>
    <div class="ui left pointing red basic label" *ngIf="control.errors?.['noConnection']">
      Can't tell. Not connected to the internet.
    </div>
  </ng-container>
</div>
